/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Variáveis */
:root {
    --vermelho: #E50914;
    --preta: #141414;
}

/* Reset e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o body */
body {
    background: var(--preta);
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* Estilos do header */
header .container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 40px;
    padding: 10px;
    margin-right: 30px;
}
/* Seu CSS existente... */

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 20px;
}

header nav a:hover {
    color: #fff;
}

/* Estilos para o filme principal */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('img/6195005.jpg');
    height: 550px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .titulo-descricao,
.filme-principal .descricao {
    margin: 20px 0 30px 0;
}

.filme-principal .titulo {
    margin-top: 10%;
    margin-bottom: 20%;
    font-size: 60px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.subtitulo {
    margin: 20px 0 10px 3rem;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

/* Estilos para os elementos de filme */
.box-filme {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    padding: 15px;
    transition: transform 0.3s ease;
}

.box-filme img {
    width: 100%;
    transition: transform 0.3s ease;
}

.box-filme:hover {
    transform: scale(1.03);
    z-index: 2;
}

/* Estilos dos botões */
.botao {
    background-color: gray;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: rgba(0, 0, 0, .50);
    color: white;
}

.botao i {
    margin-right: 8px;
}

#btn-assistir {
    background-color: white;
    color: black;
}

#btn-assistir:hover {
    background-color: gray;
    color: white;
}

/* Estilos para o container */
.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

/* Estilos para o carrossel de filmes */
.carrousel-filmes {
    margin-top: 5px;
}

.carrousel-filmes .titulo {
    margin: 20px 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
