/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Variáveis */
:root {
    --vermelho: #E50914;
    --preta: #141414;
}

/* Reset e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
