/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Variáveis */
:root {
    --branco: #ffffff;
    --cinza: #333333;
    --cinza-fraco: #AAAAAA;
    --vermelho: #E50914;
    --preto: #141414;
    --scrollbar-bg: transparent;
    --scrollbar-thumb: rgba(0, 0, 0, 0.3);
    --scrollbar-hover: rgba(0, 0, 0, 0.5);
    --loading-speed: 1.2s;
    --cor-facebook: #3b5998;
    --cor-twitter: #66bfda;
    --cor-instagram: #dd2a7b;
}

/* ---- RESET ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---- Estilos da SCROLLBAR ---- */
/* ---- Para navegadores Webkit ---- */
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
}

/* ---- Estilos pro Firefox ---- */
html {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

html::-moz-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

html::-moz-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
}

/* ---- Estilos do BODY ---- */
body {
    background: var(--preto);
    font-family: 'Montserrat', sans-serif;
    color: var(--branco);
}

/* ---- Estilos do HEADER ----*/
.header {
    background-color: var(--cinza);
    color: var(--branco);
}

.logo {
    font-size: 40px;
    padding: 10px;
    margin-right: 30px;
    text-decoration: none;
}

/* ---- Estilos NAVBAR ---- */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: var(--cinza-fraco);
    margin: 0 20px 0 20px;
}

nav a:hover {
    color: var(--branco);
}

/* ---- Estilos PRINCIPAIS ---- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('img/6195005.jpg');
    height: 550px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .titulo-descricao,
.filme-principal .descricao {
    margin: 20px 0 30px 0;
}

.filme-principal .titulo {
    margin-top: 10%;
    margin-left: 20px;
    margin-bottom: 20%;
    font-size: 60px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filme-principal .container {
    width: 70%;
}

/* ---- Estilo Subtitulo ---- */
.subtitulo {
    margin: 20px 0 10px 0;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
}

/* ---- Estilos do box dos filmes ---- */
.box-filme,
.box-filme2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    padding: 15px;
    transition: transform 0.3s ease;
}

.box-filme img,
.box-filme2 img {
    width: 100%;
    transition: transform 0.3s ease;
}

.box-filme:hover {
    transform: scale(1.03);
    z-index: 2;
}

/* ---- Estilos do OWL ---- */
.owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.owl-item.active:hover {
    transform: scale(1.03);
    z-index: 2;
}

.owl-item.active:hover {
    transition: transform 0.3s ease;
}

.owl-prev,
.owl-next {
    width: 50px;
    height: 50px;
    font-size: 24;
    color: var(--branco);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.owl-prev:hover,
.owl-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.owl-prev i,
.owl-next i {
    font-size: 36px;
}

/* ---- Estilos para o CARROSSEL ---- */
.carrousel-filmes {
    margin-top: 5px;
}

.carrousel-filmes .titulo {
    margin: 20px 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

/* ---- Estilos para a TELA DE LOADING ---- */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-text {
    color: var(--branco);
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-text {
    margin-top: 15px;
    font-size: 18px;
    animation: fadeIn 1s ease-in-out infinite alternate;
}

/* ---- Animação da TELA DE LOADING ----*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.newtons-cradle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.newtons-cradle__dot {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
}

.newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--branco);
}

.newtons-cradle__dot:first-child {
    animation: swing var(--loading-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
    animation: swing2 var(--loading-speed) linear infinite;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }

    25% {
        transform: rotate(70deg);
        animation-timing-function: ease-in;
    }

    50% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }
}

@keyframes swing2 {
    0% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }

    50% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }

    75% {
        transform: rotate(-70deg);
        animation-timing-function: ease-in;
    }
}

/* ---- Estilos dos EVENTOS ---- */
#eventos {
    background-color: var(--preto);
    padding: 50px 0;
    text-align: center;
}

.conquista {
    margin: 20px;
    padding-bottom: 20px;
    background-color: var(--cinza-fraco);
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.conquista img {
    height: auto;
    border-radius: 2rem;
}

.conquista p {
    color: var(--cinza);
}

.medalha {
    top: 2%;
    right: 2%;
    position: absolute;
    width: 20%;
    transform: rotate(22deg);
}

/* ---- Estilos da EQUIPE ---- */
.equipe-section {
    text-align: center;
}

.equipe-section .carrousel-filmes {
    max-width: 1200px;
    margin: 0 auto;
}

.equipe-section .subtitulo {
    margin-bottom: 30px;
}

.equipe-section .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.equipe-section .container div {
    margin: 10px;
}

.equipe-section .container img {
    max-width: 200px;
    height: auto;
    display: block;
}

/* ---- Estilos do FOOTER ---- */
.footer {
    background-color: var(--cinza);
    color: var(--branco);
    padding: 40px 0;
}

.container-footer {
    width: 80%;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (orientation: landscape) {
    .footer-content {
        justify-content: space-between;
    }
}

.footer-logo img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.footer-info p {
    margin-bottom: 8px;
}

/* ---- Estilos dos ICONS ---- */
[class*="social-icon"],
.footer-social {
    font-size: 24px;
    transition: color 0.3s ease;
    color: var(--branco);
}

[class*="social-icon"] {
    margin-right: 20px;
}

.social-icon:hover {
    color: var(--cor-facebook);
}

.social-icon1:hover {
    color: var(--cor-twitter);
}

.social-icon2:hover {
    color: var(--cor-instagram);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}