/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Variáveis */
:root {
    --vermelho: #E50914;
    --preta: #141414;
}

/* Reset e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o body */
body {
    background: var(--preta);
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* Estilos do header */
header .container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 40px;
    padding: 10px;
    margin-right: 30px;
}
/* Seu CSS existente... */

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 20px;
}

header nav a:hover {
    color: #fff;
}

/* Estilos para o filme principal */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('img/6195005.jpg');
    height: 550px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .titulo-descricao,
.filme-principal .descricao {
    margin: 20px 0 30px 0;
}

.filme-principal .titulo {
    margin-top: 10%;
    margin-bottom: 20%;
    font-size: 60px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.subtitulo {
    margin: 20px 0 10px 3rem;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

/* Estilos para os elementos de filme */
.box-filme {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    padding: 15px;
    transition: transform 0.3s ease;
}

.box-filme img {
    width: 100%;
    transition: transform 0.3s ease;
}

.box-filme:hover {
    transform: scale(1.03);
    z-index: 2;
}

/* Estilos dos botões */
.botao {
    background-color: gray;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: rgba(0, 0, 0, .50);
    color: white;
}

.botao i {
    margin-right: 8px;
}

#btn-assistir {
    background-color: white;
    color: black;
}

#btn-assistir:hover {
    background-color: gray;
    color: white;
}

/* Estilos para o container */
.container-titulo {
    margin-left: 50px;
}

.filme-principal .container {
    width: 70%;
}

/* Estilos para o carrossel de filmes */
.carrousel-filmes {
    margin-top: 5px;
}

.carrousel-filmes .titulo {
    margin: 20px 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
/* Estilos do footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  .container-footer {
    width: 80%;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-logo img {
    width: 150px;
    height: auto;
    border-radius: 50%;
  }
  
  .footer-info {
    margin-top: 20px;
  }
  
  .footer-info p {
    margin-bottom: 8px;
  }
  
  .footer-social {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s ease;
  }
  .social-icon{
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
    transition: color 0.3s ease;
  }
  
  .footer-social .social-icon:hover {
    color: rgb(102, 191, 218); /* Cor desejada ao passar o mouse */
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  /* Estilos para a tela de loading */
  .loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-text {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}
/* Estilos para a tela de loading */
.loader-wrapper {
    /* Estilos existentes */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-text {
    margin-top: 15px;
    font-size: 18px;
    animation: fadeIn 1s ease-in-out infinite alternate; /* Animação de exemplo */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.newtons-cradle {
    --uib-size: 50px;
    --uib-speed: 1.2s;
    --uib-color: #474554;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-size);
    height: var(--uib-size);
   }
   
   .newtons-cradle__dot {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
   }
   
   .newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--uib-color);
   }
   
   .newtons-cradle__dot:first-child {
    animation: swing var(--uib-speed) linear infinite;
   }
   
   .newtons-cradle__dot:last-child {
    animation: swing2 var(--uib-speed) linear infinite;
   }
   
   @keyframes swing {
    0% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    25% {
     transform: rotate(70deg);
     animation-timing-function: ease-in;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   }
   
   @keyframes swing2 {
    0% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    75% {
     transform: rotate(-70deg);
     animation-timing-function: ease-in;
    }
   }
   